* {
  font-family: Georgia, Palatino, serif;
}

body {
  background: #ffffff;
  margin: 1em 1em;
}

#page_title {
  display: inline-block;
  font-size: xx-large;
  border-bottom: 1px solid #333333;
}
#header_img {
  display: block;
  margin: 1em 0;
}

.paragraph {
  margin: 1em 0;
  display: block;
  font-size: default;
  width: 40%;
  line-height: 1.6em;
}

a:link,
a:visited {
  color: #333333;
}
a:hover {
text-decoration: none;
}

