/*

CSS style definitions for VGG Image Annotator (VIA)

Theme: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=009688&secondary.color=FFEB3B
Primary:  #009688
  light:  #52c7b8
  dark:   #00675b
Secondary: #ffeb3b
  light:  #ffff72
  dark:   #c8b900
Text
  primary:    #000000
  secondary:  #000000



Author: Abhishek Dutta <adutta@robots.ox.ac.uk>
Date: 29 Dec. 2018
*/

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size:small;
}

.via_container {
    display: grid;
    height:100vh;
    grid-template-rows: 1fr 20fr 9fr;
    grid-template-columns: minmax(10em, 2fr) 10fr;
    grid-template-areas:"menu_container menu_container"
                            "lsidebar_container annotator_container"
                            "editor_container editor_container";
}

.via_container > * { border:1px solid #cecece; }

.via_container > .menu_container {
    grid-area:menu_container;
}

.via_container > .lsidebar_container {
    grid-area:lsidebar_container;
    display: grid;
    grid-template-rows: 4fr 6fr;
    grid-template-areas:"toolbar_container"
                        "filemanager_container";
}
.via_container > .lsidebar_container > .toolbar_container {
    grid-area:toolbar_container;
}
.via_container > .lsidebar_container > .filemanager_container {
    grid-area:filemanager_container;
}

.via_container > .annotator_container {
    grid-area:annotator_container;
}

.via_container > .editor_container {
    grid-area:editor_container;
    overflow:auto;
}

/*
 * Annotator
 */
.annotator {
    grid-template-rows:0.5fr 0.5fr 9fr;
    grid-template-columns:auto;
    grid-template-areas:"segment_annotator"
                            "content_controls"
                            "content_annotator";
    height:100%;
}
.annotator_container > .hide { display:none; }
.annotator_container > .show { display:grid; }
.annotator button { font-size:small; }
.annotator select { font-size:small; }

.annotator > .segment_annotator {
    grid-area:segment_annotator;
    margin:auto;
}
.annotator > .segment_annotator .spaced_button {
    margin:0 0.5em;
}

.annotator > .content_controls {
    grid-area:content_controls;
    font-size:small;
    margin:auto;
}

.annotator > .content_controls button {
    margin:0 0.5em;
}

.annotator > .content_controls input[type="checkbox"] {
    vertical-align:middle;
}

.annotator > .content_annotator {
    grid-area:content_annotator;
    display:block;
    position:relative;
    text-align:center;
    height:100%;
}

.annotator > .content_annotator > .layer_container {
    display:inline-block;
    position:relative;
}
.annotator > .content_annotator > .layer_container .media {
    display:block;
    position:absolute;
    left:0;
    right:0;
    padding:0; margin:0;
    z-index:1000;
}

.annotator > .content_annotator > .layer_container .regions {
    display:block;
    position:absolute;
    left:0;
    right:0;
    padding:0; margin:0;
    z-index:2;
}

.annotator > .content_annotator > .layer_container .input_handler {
    display:block;
    position:absolute;
    left:0;
    right:0;
    padding:0; margin:0;
    z-index:3;
}

/*
 Metadata Editor
*/
.metadata_container {
    display:block;
    width:100%;
}
.metadata_container table {
    border-collapse:collapse;
    margin:1em;
    overflow:scroll;
    height:100%;
}
.metadata_container table, th, td {
    border:1px solid #cccccc;
}
.metadata_container th, td {
    padding:0.3em 0.4em;
}

.metadata_container .preview_container {
}
.metadata_container .preview_container canvas {
    margin:0 0.5em;
}

/**/

/*
Text Buttons
*/
.text_button {
    border:none;
    color:blue;
    background-color:inherit;
    cursor:pointer;
    display:inline-block;
}
.text_button:hover { color:red; }
