/*

CSS style definitions for VIA Speaker Diarisation tool

Theme: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=9E9E9E&secondary.color=FFEB3B
Primary:  #9e9e9e
  light:  #cfcfcf
  dark:   #707070
Secondary: #ffeb3b
  light:  #ffff72
  dark:   #c8b900
Text
  primary:    #000000
  secondary:  #000000



Author: Abhishek Dutta <adutta@robots.ox.ac.uk>
Date: 5 Mar. 2019
*/

html, body { margin:0; padding:0; box-sizing:border-box; font-family:Sans; font-size:1em; }

*, *:before, *:after { box-sizing:inherit; }

.via { position:relative; display:flex; flex-direction:column; flex-wrap:nowrap; padding:0.3em 0.2em; background-color:#ffffff; height:100vh; overflow:hidden; }

.cpanel { display:flex; border:1px solid #707070; padding:0.4em 0.5em; background-color:#ffeeaa; }
.cpanel .tool_group { display:inline-block; margin:0 1%; padding:0; }
.cpanel .tool_group:first-child { margin-left:0; }
.cpanel .tool_group:last-child { margin-right:0; }
.cpanel .logo { display:inline-block; line-height:1.4em;}
.cpanel .logo a { text-decoration:none; }
.cpanel .tool_group select { background-color:inherit; border:1px solid #cfcfcf; vertical-align:middle; width:10em; }
.cpanel .tool_group input { background-color:inherit; border:1px solid #cfcfcf; vertical-align:middle; width:4em;}
.cpanel .tool_group .project_name_container { display:inline-block; vertical-align:middle; font-size:small; width:10em; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align:right; }

.annotator_container { flex:auto; padding-top:0em; margin-top:0.5em; }
.annotator_container > .file_container { display:none; height:100%; }
.annotator_container > .file_show { display:block !important; }
.annotator_container > .file_container > .region_annotator_container { display:block; position:relative; }
.annotator_container > .file_container > .region_annotator_container * { position:absolute; left:0; top:0; }
.annotator_container > .file_container > .region_annotator_container > .layer_region { pointer-events:none; }

.annotator_container > .file_container > .temporal_segmenter_container { position:relative; display:block; background-color:white; margin:0; padding:1em 0; }
.annotator_container > .file_container > .temporal_segmenter_container > .thumbnail_container { z-index:1000; }
.annotator_container > .file_container > .temporal_segmenter_container > .video_timeline { display:block; margin:0; padding:0;  }
.annotator_container > .file_container > .temporal_segmenter_container > .video_timeline_mark { display:block; margin:0; padding:0; }

.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container { border:1px solid #909090; margin-top:1em; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container canvas { margin:0; padding:0; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container .gtimeline { cursor:pointer; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .header_container {}
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .header_container table { border-collapse:collapse; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .header_container td { display:inline-block; overflow:hidden; margin:0; padding:0; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .header_container select { width:100%; }

.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .metadata_container {}
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .metadata_container table { border-collapse:collapse; }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .metadata_container td { display:inline-block; overflow:hidden; margin:0; padding:0;  }
.annotator_container > .file_container > .temporal_segmenter_container > .tmetadata_container > .metadata_container input[type="text"] { width:100%; }

.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container { display:block; padding:1em 0.5em; font-size:small; }
.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container div { margin:0 2em; display:inline-block; }
.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container div:first-child { margin:0; }
.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container input {font-size:small; vertical-align:middle; }
.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container button {font-size:small; vertical-align:middle; margin-right:0.5em;}
.annotator_container > .file_container > .temporal_segmenter_container > .toolbar_container label {vertical-align:middle; }

/* Editor panel for add/update/view metadata and attributes */
.editor_container { display:none; position:absolute; bottom:0; left:0; right:0; height:30vh; overflow:auto; background-color:white; }
.editor_container .hide { display:none !important; }
.editor_container svg { font-size:large; margin:0 0.4em; }
.editor_container > .editor_content_selector { display:block; margin:0; padding:0.4em 1em;  }
.editor_container > .content_container {display:inline-block; padding:0 1em; }
.editor_container > .content_container table { border-collapse:collapse; border:1px solid #cccccc; }
.editor_container > .content_container th { border:1px solid #cccccc; }
.editor_container > .content_container td { border:1px solid #cccccc; padding:0.3em 0.4em; }
.editor_container > .content_container .attribute_entry { display:block; margin-bottom:0.4em; }

/* Misc */
.svg_button { width:1.2em; height:1.2em; fill:black; stroke:none; vertical-align:middle; }
.svg_button:hover { fill:#cfcfcf; cursor:pointer; }
.svg_button:active { fill:#707070; cursor:pointer; }
.disabled_button { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:hover { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:active { fill:#cfcfcf !important; cursor:auto !important; }
.text_button { border:none; color:blue; background-color:inherit; cursor:pointer; display:inline-block; }
.text_button:hover { color:black; }

/* info pages */
.info_page_container { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7); z-index:1001; text-align:center; }
.info_page_container > .toolbar { position:relative; display:block; text-align:right; padding:1em; }
.info_page_container > .info_page { position:relative; display:inline-block; color:black; background-color:white; padding:1em 2em; overflow:auto; text-align:left; content:"close"; height:100vh;}
.info_page_container > .info_page .toolbar { display:block; text-align:right; }
.info_page_container > .info_page table { border-collapse:collapse; border:1px solid #cccccc; }
.info_page_container > .info_page th { border:1px solid #cccccc; padding:0.3em 0.4em; }
.info_page_container > .info_page td { border:1px solid #cccccc; padding:0.3em 0.4em; }
.info_page_container > .info_page div { width:45em; }

/* Message Panel */
#_via_message_container { display:none; width:100vw; position:fixed; bottom:0px; z-index:9999; text-align:center; }
#_via_message_container #_via_message { display:inline; margin:auto; background-color:#000000; color:#ffff00; font-size:medium; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:2rem; padding: 0.5rem 2rem;}
.key { font-family:monospace; padding:1px 6px; background:linear-gradient(to bottom,#f0f0f0,#fcfcfc);; border:1px solid #e0e0e0; white-space:nowrap; color:#303030; border-bottom-width:2px; border-radius:3px; font-size:1.2em; }
