/*

CSS style definitions for VGG Image Annotator (VIA)

Theme: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=9E9E9E&secondary.color=FFEB3B
Primary:  #9e9e9e
  light:  #cfcfcf
  dark:   #707070
Secondary: #ffeb3b
  light:  #ffff72
  dark:   #c8b900
Text
  primary:    #000000
  secondary:  #000000



Author: Abhishek Dutta <adutta@robots.ox.ac.uk>
Date: 23 Jan. 2019
*/

html, body { margin:0; padding:0; box-sizing:border-box; font-family:Sans; font-size:1em; }

*, *:before, *:after { box-sizing:inherit; }

.via { position:relative; display:flex; flex-direction:column; flex-wrap:nowrap; padding:0.3em 0.2em; background-color:#ffffff; height:100vh; overflow:hidden; }

.cpanel { display:flex; border:1px solid #707070; padding:0.4em 0.5em; }
.cpanel .tool_group { display:inline-block; margin:0 1%; padding:0; }
.cpanel .tool_group:first-child { margin-left:0; }
.cpanel .tool_group:last-child { margin-right:0; }
.cpanel .logo { display:inline-block; line-height:1.4em;}
.cpanel .logo a { text-decoration:none; }
.cpanel .tool_group select { background-color:inherit; border:1px solid #cfcfcf; vertical-align:middle; width:10em; }
.cpanel .tool_group input { background-color:inherit; border:1px solid #cfcfcf; vertical-align:middle; width:4em;}

.annotator_container { flex:auto; padding-top:0em; margin-top:0.5em; }
.annotator_container > .file_container { display:block; height:100%; }
.annotator_container > .file_hide { display:none; }
.annotator_container > .file_container > .region_annotator_container { display:block; position:relative; }
.annotator_container > .file_container > .region_annotator_container * { position:absolute; left:0; top:0; }
.annotator_container > .file_container > .region_annotator_container > .layer_region { pointer-events:none; }

.annotator_container > .file_container > .time_annotator_container { position:relative; display:block; background-color:white; margin:0; padding:1em 0; }
.annotator_container > .file_container > .time_annotator_container > .thumbnail_container { z-index:1000; }
.annotator_container > .file_container > .time_annotator_container > .video_timeline { display:block; margin:0; padding:0;  }
.annotator_container > .file_container > .time_annotator_container > .video_timeline_mark { display:block; margin:0; padding:0; }
.annotator_container > .file_container > .time_annotator_container > .tseg_container { display:block; position:relative; margin:1em; padding:0; }
.annotator_container > .file_container > .time_annotator_container > .tseg_container .metadata_panel { position:absolute; font-size:small; background-color:white; z-index:999; border:1px solid #cccccc; }
.annotator_container > .file_container > .time_annotator_container > .tseg_container .metadata_panel table { border-collapse:collapse; }
.annotator_container > .file_container > .time_annotator_container > .tseg_container .metadata_panel td { border:1px solid #cccccc; padding:0.3em 0.4em; }
.annotator_container > .file_container > .time_annotator_container > .tseg_container .edit_mode { border:1px solid #707070; background-color: #f5f5f5; }
.annotator_container > .file_container > .time_annotator_container > .toolbar_container { display:flex; flex-direction:row; flex-wrap:wrap; font-size:small; padding:0.5em; }
.annotator_container > .file_container > .time_annotator_container > .toolbar_container input[type="radio"] { vertical-align:bottom; }
/*
.segmenter_container { height:15em; flex:none; border:1px solid blue; }
.annotator_container > .file { width:100%; height:100%; position:relative; }
.annotator_container > .hide_file { display:none; }
.annotator_container > .file > .content { display:block; width:100%; position:relative; text-align:left; }
.annotator_container > .file > .content > .layer_container { display:inline-block; position:relative; }
.annotator_container > .file > .content > .layer_container .media_element { display:block; position:absolute; left:0; right:0; padding:0; margin:0; z-index:1000; }
.annotator_container > .file > .content > .layer_container .regions { display:block; position:absolute; left:0; right:0; padding:0; margin:0; z-index:2; }
.annotator_container > .file > .content > .layer_container .input_handler { display:inline-block; position:absolute; left:0; right:0; padding:0; margin:0; z-index:3; }

.segmenter_container { display:block; height:23vh; position:relative; text-align:center; font-size:small; overflow:hidden; }
.segmenter_container > .hide { display:none !important; }
.segmenter_container .timeline_container { overflow:hidden; }
.segmenter_container button { font-size:small; }
.segmenter_container select { font-size:small; }
.segmenter_container input { font-size:small; }
.segmenter_container canvas { padding:0; margin:0; }
.segmenter_container svg { font-size:medium; margin:0 0.4em; }
.segmenter_container .segmetadata_container { overflow:auto; height:80%; }
.segmenter_container .segmetadata_container table { border-collapse:collapse; border:1px solid #cccccc; margin: 1em; }
.segmenter_container .segmetadata_container th { padding:0.3em 0.4em; border:1px solid #cccccc; }
.segmenter_container .segmetadata_container td { padding:0.3em 0.4em; border:1px solid #cccccc; vertical-align:top; }
.segmenter_container .segmetadata_container .segment_table { border:none; margin:0; }
.segmenter_container .segmetadata_container .segment_table th { border:none; }
.segmenter_container .segmetadata_container .segment_table td { border:none; }
.segmenter_container .segmetadata_container .segment_table .current { background-color:#cccccc; }
*/

/* Editor panel for add/update/view metadata and attributes */
.editor_container { display:none; position:absolute; bottom:0; left:0; right:0; height:30vh; overflow:auto; background-color:white; }
.editor_container .hide { display:none !important; }
.editor_container svg { font-size:large; margin:0 0.4em; }
.editor_container > .editor_content_selector { display:block; margin:0; padding:0.4em 1em;  }
.editor_container > .content_container {display:inline-block; padding:0 1em; }
.editor_container > .content_container table { border-collapse:collapse; border:1px solid #cccccc; }
.editor_container > .content_container th { border:1px solid #cccccc; }
.editor_container > .content_container td { border:1px solid #cccccc; padding:0.3em 0.4em; }
.editor_container > .content_container .attribute_entry { display:block; margin-bottom:0.4em; }

/* Misc */
.svg_button { width:1.2em; height:1.2em; fill:black; stroke:none; vertical-align:middle; }
.svg_button:hover { fill:#cfcfcf; cursor:pointer; }
.svg_button:active { fill:#707070; cursor:pointer; }
.disabled_button { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:hover { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:active { fill:#cfcfcf !important; cursor:auto !important; }
.text_button { border:none; color:blue; background-color:inherit; cursor:pointer; display:inline-block; }
.text_button:hover { color:black; }

/* info pages */
.info_page_container { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.7); z-index:1001; text-align:center; }
.info_page_container > .toolbar { position:relative; display:block; text-align:right; padding:1em; }
.info_page_container > .info_page { position:relative; display:inline-block; color:black; background-color:white; padding:1em 2em; overflow:auto; text-align:left; content:"close"; }
.info_page_container > .info_page .toolbar { display:block; text-align:right; }
.info_page_container > .info_page table { border-collapse:collapse; border:1px solid #cccccc; }
.info_page_container > .info_page th { border:1px solid #cccccc; padding:0.3em 0.4em; }
.info_page_container > .info_page td { border:1px solid #cccccc; padding:0.3em 0.4em; }
